@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  background-color: #2d9596; 
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none; /* Removes the default list-style (bullets) */
}

input, button {
  border-radius: 5px;
  font-size: large;
  margin: 10px;
  padding: 10px;
  font-family: inherit;
  font-weight: bold;
  border: none;
}

button {
  background-color: #8ea7e9;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

input {
  width: 80%;
}

input:focus {
  outline: none;
}

.container, .form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form {
  border-radius: 10px;
  background-color: #b5d6e0;
  height: fit-content;
  width: 350px;
}

.login-register-redirect a {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-register-redirect {
  font-size: small;
}

.error-message {
  color: red;
  width: 80%;
}

#upload-form {
  width: 500px;
  padding: 20px;
  text-align: center;
  background-color: #b5e0dcbd;
}

#upload-caption {
  width: 96%;
  font-size: medium;
  font-weight: normal;

}

#image-preview {
  width: 500px;
  max-width: 100%;
  margin: 10px 0px;
  padding: 0px;
  border-radius: 5px;
}

#drop-zone {
  height: 200px;
  width: 96%;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #9567b7b7;
}

#drop-zone.hover {
  border-color: #8e6868;
  background-color: #27425a; /* Light blue background when hovering */
}

input[type="file"] {
  display: none;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.newsfeed {
  position: fixed; /* or 'absolute' based on your design requirements */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  background-color: #2d9596; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}


.post-list {
  height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #9dddd1;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.post a {
  text-decoration: none;
  color: inherit;
}

.post button {
  margin-right: 0px;
  padding: 0px;
  padding-right: -10px;
  border: none;
  font-size: xx-large;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.post button:hover {
  transform: scale(1.2);
}

#comment-btn {
  margin-right: 5px;
}

.post .image {
  max-width: 100%;
  height: auto; /* Set height to auto to maintain aspect ratio */
  border-width: 10px;
}

.post .avatar {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.post .username {
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}

.post #caption {
  max-width: 100%; /* Set a maximum width for the element */
  word-wrap: break-word; /* Allow the content to break onto a new line */
  margin: 10px;
}

.post-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.avatar-username {
  display: flex;
  flex-direction: row;
}

#sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: -303px;
  background-color: #cce6f1;
  padding-top: 10px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

#sidebar a {
  text-decoration: none;
}

#user-navigation {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-navigation a {
  font-weight: bolder;
  font-size: large;
  margin: 10px;
  color: black;
  transition: 0.3s;
}

#user-navigation a:hover {
  transform: scale(1.1);
}

#sidebar-toggle-btn {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  padding: 7px;
  transition: 0.3s;
}

#sidebar-toggle-btn:hover {
  transform: scale(1.2);
}


#like {
  display: flex;
  flex-direction: row;
}

.no-display {
  display: none;
}



.container .avatar {
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.container .username {
  font-size: xx-large;
  margin: 0px 0px 10px 0px;
}

.profile .container {
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #9dddd1;
  border-radius: 10px;  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-header {
  position: relative;
}

.options {
  position: absolute;
  display: inline-block;
  right: 20px;
}

.time {
  font-size: small;
  font-weight: normal;
  text-align: center;
  width: fit-content;
}

.username-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.likes-container {
  display: flex;
  align-items: center; /* Align items vertically in the container */
}

.caption-container {
  display: flex;
  flex-direction: row;
}

.edit-btn, .remove-btn {
  padding: 0px;
  margin: 0px;
}

.edit-btn img, .remove-btn img {
  width: 20px;
}

#caption[contenteditable="true"]:focus {
  outline: none;
}

button img {
  max-width: 100%;
  max-height: 100%;
}

.edit-avatar {
  position: relative;
  right: 0px;
}

.edit-avatar button {
  background-color: transparent;
  transition: 0.3s;
}

.edit-avatar button:hover {
  transform: scale(1.2);
}

#avatar-image {
  width: 250px;
  height: 250px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 

}

.logo {
  width: 200px;
}

#login-register-redirect {
  display: flex;
  flex-direction: row;
}